<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Request Header Parser Microservice</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Request Header Parser Microservice</h1>
    <h3><a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice/"><span class="freecodecamp">freeCodeCamp</span> API Project</a></h3>
  </header>

  <main>
    <h3>About</h3>
    <p>This is a simple Request Header Parser API built with Express.</p>

    <h3>How to use</h3>
    <p>The API endpoint is <code>GET jazzy-watchmaker.glitch.me/api/whoami</code></p>    
    <p>API returns the IP address, preferred languages (from header Accept-Language) and system infos (from header User-Agent) for your device.</p>
  </main>

  <footer>
    Made with <a href="https://glitch.com">Glitch</a>!
  </footer>
</body>
</html>